<!-- 
Name: Sidharth Choudhary
Student ID: 300990285
Date: 16 Feb, 2019
-->

<!-- contains footer information used in all other pages -->

  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
</body>

</html>