<% include ./partials/header.ejs %>

  <h1 class="display-4" style="color: #CEF0D4; font-family: 'courier', cursive; font-size: 60px; font-weight: normal; line-height: 48px;margin-top:10px; margin: 10 10 0px; text-align: left; text-shadow: 1px 1px 2px black;"><strong>Contact Us</strong></h1>
    <br>
    <div class="container" style="width:500px">
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size:20px">SIDHARTH CHOUDHARY</div>
      <div class="panel-body" style="font-size:20px">
      <p >
      <strong>Email:</strong> gr8sid7981@gmail.com<br>
      <strong>Call:</strong> +1(289)-242-3227<br>

      </p>
      </div>
    </div>
    </div>
  </div>

<% include ./partials/footer.ejs %>