<% include ./partials/header.ejs %>

<% if (title == "Projects"){ %>
     
     <div class="container">
    <div class="jumbotron">
     <h1 class="display-4">Welcome to Sidharth's <%= title%> page</h1>
      <br>
<a class="btn btn-primary" href="/projectslist" role="button"> Click To See My Projects</a>
</div>
  </div>
<%     }   %>



<% include ./partials/footer.ejs %>