<% include ./partials/header.ejs %>
  
      
     <% if (title == "Projects"){ %>
     
     <div class="container">
    <div class="jumbotron">
     <h1 class="display-4">Welcome to Sidharth's <%= title%> page</h1>
      <br>
<a class="btn btn-primary" href="/project-list" role="button"> Click for Project List</a>
</div>
  </div>
<%     }   %>

 <% if (title == "About Me"){ %>
     <div class="container" style="width:100%">
     <h1 class="display-4" style="color: #CEF0D4; font-family: 'courier', cursive; font-size: 60px; font-weight: normal; line-height: 48px;margin-top:10px; margin: 10 10 0px; text-align: left; text-shadow: 1px 1px 2px black;"><strong>SIDHARTH CHOUDHARY</strong></h1>
      <br>

      <div style="float:left; width:65%">
             <p style="font-family:'courier', cursive; font-weight: bold; font-size:16px">
                I am a graduate from Centennial College, with a diploma in Software Engineering Technology. 
                I am also certified in Android and DotNet Development. 
                During my academic studies at college (Centennial College), I have developed key technical skills in the area of C#, DotNet and Java programming. My soft interpersonal skills include reliability, emotional intelligence and good communication skills.
                These skills have developed my ability to perform well with others (in teams), by understanding them and work together effectively and efficiently.
                My key interpersonal skills are leadership and teamwork. 
                My related work-experience includes a year designated as a Software tester. My year of experience in the area of Software Programming will help me excel at this position and become a valued member of your any Organization.

             </p>
             </div>
            <div style="float:right; width:35%">
            
            <img 
                src="https://upload.wikimedia.org/wikipedia/commons/3/34/ProfilePic.jpg" 
                alt="no img found"
                height="300px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="240px" 
             />
              <br>
             <a style="text-decoration: none; color:black; font-size: 30px; font-weight: bold" href="https://upload.wikimedia.org/wikipedia/commons/5/5d/SIDHARTH_CHOUDHARY-resume.pdf" target="_blank"> Click To View My Resume</a>
           
            </div>
             
      
</div>
<%     }   %>
   

<% include ./partials/footer.ejs %>