<% include ./partials/header.ejs %>
  

      <% if (projectName != "EmailTracking-API"){ %>
           <div>
            <img 
                src="https://upload.wikimedia.org/wikipedia/commons/3/34/ProfilePic.jpg" 
                alt="no img found"
                height="300px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="240px" 
             />
        </div>
<%     }   %>
           
<% include ./partials/footer.ejs %>