<% include ./partials/header.ejs %>

<% if (title == "EmailTracking-API") { %>
<h1 style="text-align:center; margin-top:10px"> <span style="color: #CEF0D4; font-family: 'courier', cursive; font-size: 60px; font-weight: bold; line-height: 48px;margin-top:10px; text-align: center; text-shadow: 1px 1px 2px black;">Samples of Email-Tracking API</span></h1>
           <div style="position:absolute; top:170px;">
            <img 
                src="assests/images/Emai1.JPG" 
                alt="no img found"
                height="550px"
                style="border:5px solid black; margin-left:5%"
                ALIGN="center"
                width="1250px" 
             />
        </div>
       

        <div class="container" style="position:absolute; top:730px; width:100%">
         <div  style="float:left; width:20%">
         <span style="color:black;font-size:17px; font-family:'Billabong', cursive; font-weight: bold;" >
Email, once organized well, is the most effective means of communication. More versatile than
anything else, therefore, marking Email as the most effective marketing tactic. The biggest
challenge for enterprises was to track the sent emails i.e. to read the status of their sent emails, for
example - has the email been delivered to the recipient or is it in the processing state, or, was it read
by the user after delivery.
</span>
        </div>
        <div style="float:right; width:75%;">
            <img 
                src="assests/images/Email3.JPG" 
                alt="no img found"
                height="500px"
                style=" border:5px solid black;"
                width="1000px" 
                position="relative"
             />
             </div>
        </div>
<div style="float:left; top:1250px;position:absolute; width:100%; background-image: url('assests/images/bg.jpg'); color:#fff; font-weight: bold; font-family:Billabong, cursive; font-size:19px">
Therefore, tocheck if the Emails were Read, Spammed, Opted out, etc. Email Tracking for Gmail,
Hotmail / Outlook, Google Inbox, & Yahoo Mail were available through our web application. The user simply needed to
register to our web application and send emails (via SendGrid) to the contacts
added in their account. For the time being, our web application worked for unlimited email
Accounts and 25000 emails/month (Free SendGrid version). Our Email tracker never
stored or transfered any email contents (except the Subject of the email) in order to ensure user's
privacy. A user cannot add a Contact of themselves (i.e. they cannot use their logged in email ID
as the email recipient Contact). At a time, user could send email to only one Contact.
</div>
        <div style="position:absolute; top:1450px; width:100%">
        <div style="float:left; width:80%">
            <img 
                src="assests/images/Email2.JPG" 
                alt="no img found"
                height="500px"
                style="border:5px solid black; margin-left:5%"
                ALIGN="center"
                width="940px" 
             />
             </div>
              <div style="float:right;margin-top:5% ;width:20%; background-image: url('assests/images/bg.jpg'); color:#fff; font-weight: bold; font-family:Billabong; font-size:29px">
              These are examples of some tracked Emails
              <div  style="height:250px; width:250px">
               <img 
                src="assests/images/backArrow.svg" 
                alt="no img found"
                width="100%"

             />
             <div>
              </div>
        </div>

         <% } %>   


         <% if (title == "TTCPay") { %>
         <h1 style="text-align:center; margin-top:10px"> <span style="color: #CEF0D4; font-family: 'courier', cursive; font-size: 60px; font-weight: bold; line-height: 48px;margin-top:10px; text-align: center; text-shadow: 1px 1px 2px black;">Samples of TTCPay Mobile App</span></h1>
           <div style="position:absolute; top:170px; left;50px;">
           
            <img 
                src="assests/images/ttc1.png" 
                alt="no img found"
                height="500px"
                style="border:5px solid black; margin-left:35%"
                ALIGN="center"
                width="820px" 
             />
             </div>
        </div>

        <div style="position:absolute; top:680px; width:100%">
        <div style="float:right; width:30%">
            <img 
                src="assests/images/ttc2.png" 
                alt="no img found"
                height="500px"
                style=" border:5px solid black;"
                ALIGN="center"
                width="325px" 
             />
             </div>

             <div style="margin-left:5%; float:left; width:60%; background-image: url('assests/images/bg.jpg'); color:red; font-weight: bold; font-family:Billabong; font-size:29px; text-shadow: 1px 1px 2px black;">
             The traditional way of buying tickets in TTC possesses numerous problems and to overcome such problems our team has identified a solution which will help people to buy TTC tickets and passes on their smartphones..
             </div>

             <div style="float:left;">
                 <img 
                src="assests/images/busses.jpg" 
                alt="no img found"
                height="340px"
                style="border:1px solid black; margin-left:25%"
                ALIGN="center"
                width="600px" 
             />
             </div>
        </div>

        <div style="position:absolute; top:1200px; float:left">
            <div style="float:left; width:30%">
            <img 
                src="assests/images/ttc3.png" 
                alt="no img found"
                height="500px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="325px" 
             />
             </div>
             <div style="margin-left:5%; width:60%; background-image: url('assests/images/bg.jpg'); color:#fff; font-weight: bold; font-family:Billabong; font-size:29px; text-shadow: 1px 1px 2px black;float:right; width:60%">
             <span style = "margin-left:5%">
To overcome this issue, our team proposes a solution to develop an android application named as “TTCPay” where people can buy digital tickets and passes. This app will allow users to check their ticket history, buy tickets online and leaving behind the hustle of carrying coins to pay the fare while boarding. By using this application, people have no need to carry PRESTO card or paper-ticket with themselves while travelling as ticket with hour limit(running clock) would be available on application. Also there would be a BAR code reader with mode information of ticket. 
       </span>
             </div>
        </div>
        <div style="position:absolute; top:1750px; width:100%">
          <div style="float:left; width:50%">
          <div style="float:left; width:60%">
         <img 
                src="assests/images/pass.jpg" 
                alt="no img found"
                height="300px"
                style=" border:1px solid black;margin-left:5%"
                ALIGN="center"
                width="390px" 
             />
             </div>
             <div style="float:left; width:40%">
             <img 
                src="assests/images/coin.jpg" 
                alt="no img found"
                height="300px"
                style=" margin-left:0%"
                ALIGN="center"
                width="390px" 
             />
             <div style="margin-left:-65%;background-image: url('assests/images/bg.jpg');height:150px; width:200%;text-align:center;margin-top:10%; color:#fff; font-weight: bold; font-family:Billabong; font-size:29px; text-shadow: 1px 1px 2px black;float:right;">
             <span style = "margin-left:5%">
             Discounts applied! after 5 consecutive Usage of the APP</span></div>
             </div>
             </div>
              <div style="float:left; width:50%">
            <img 
                src="assests/images/ttc4.png" 
                alt="no img found"
                height="500px"
                style=" border:5px solid black;margin-left:15%"
                ALIGN="center"
                width="390px" 
             />
             </div>

              

              </div>
         <% } %>   


         <% if (title == "IRCTCcatering") { %>
           <div style="position:absolute; top:150px; left;50px;">
            <img 
                src="assests/images/irctc3.png" 
                alt="no img found"
                height="450px"
                style="border:5px solid black; margin-left:35%"
                ALIGN="center"
                width="840px" 
             />
        </div>

        <div style="position:absolute; top:680px; width:100%">
            <img 
                src="assests/images/irctc4.png" 
                alt="no img found"
                height="450px"
                style=" border:5px solid black;margin-left:30%"
                ALIGN="center"
                width="840px" 
             />
        </div>

        <div style="position:absolute; top:1200px; float:left">
            <img 
                src="assests/images/irctc2.png" 
                alt="no img found"
                height="440px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="840px" 
             />
        </div>
        <div style="position:absolute; top:1750px; width:100%">
            <img 
                src="assests/images/irctc1.png" 
                alt="no img found"
                height="440px"
                style=" border:5px solid black;margin-left:30%"
                ALIGN="center"
                width="840px" 
             />
        </div>

        <div style="position:absolute; top:2300px; float:left">
            <img 
                src="assests/images/irctc5.png" 
                alt="no img found"
                height="440px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="840px" 
             />
        </div>
         <% } %>   
<% include ./partials/footer.ejs %>

