<% include ./partials/header.ejs %>

<% if (title == "EmailTracking-API") { %>
           <div style="position:absolute; top:150px; left;50px;">
            <img 
                src="assests/images/Emai1.JPG" 
                alt="no img found"
                height="500px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="840px" 
             />
        </div>

        <div style="position:absolute; top:680px; width:100%">
            <img 
                src="assests/images/Email2.JPG" 
                alt="no img found"
                height="500px"
                style=" border:5px solid black;margin-left:30%"
                ALIGN="center"
                width="840px" 
             />
        </div>

        <div style="position:absolute; top:1200px; float:left">
            <img 
                src="assests/images/Email3.JPG" 
                alt="no img found"
                height="500px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="840px" 
             />
        </div>
         <% } %>   


         <% if (title == "TTCPay") { %>
           <div style="position:absolute; top:150px; left;50px;">
            <img 
                src="assests/images/ttc1.png" 
                alt="no img found"
                height="500px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="840px" 
             />
        </div>

        <div style="position:absolute; top:680px; width:100%">
            <img 
                src="assests/images/ttc2.png" 
                alt="no img found"
                height="500px"
                style=" border:5px solid black;margin-left:30%"
                ALIGN="center"
                width="840px" 
             />
        </div>

        <div style="position:absolute; top:1200px; float:left">
            <img 
                src="assests/images/ttc3.png" 
                alt="no img found"
                height="500px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="840px" 
             />
        </div>
        <div style="position:absolute; top:1750px; width:100%">
            <img 
                src="assests/images/ttc4.png" 
                alt="no img found"
                height="500px"
                style=" border:5px solid black;margin-left:30%"
                ALIGN="center"
                width="840px" 
             />
        </div>
         <% } %>   


         <% if (title == "IRCTCcatering") { %>
           <div style="position:absolute; top:150px; left;50px;">
            <img 
                src="assests/images/irctc3.png" 
                alt="no img found"
                height="500px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="840px" 
             />
        </div>

        <div style="position:absolute; top:680px; width:100%">
            <img 
                src="assests/images/irctc4.png" 
                alt="no img found"
                height="500px"
                style=" border:5px solid black;margin-left:30%"
                ALIGN="center"
                width="840px" 
             />
        </div>

        <div style="position:absolute; top:1200px; float:left">
            <img 
                src="assests/images/irctc2.png" 
                alt="no img found"
                height="500px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="840px" 
             />
        </div>
        <div style="position:absolute; top:1750px; width:100%">
            <img 
                src="assests/images/irctc1.png" 
                alt="no img found"
                height="500px"
                style=" border:5px solid black;margin-left:30%"
                ALIGN="center"
                width="840px" 
             />
        </div>

        <div style="position:absolute; top:2300px; float:left">
            <img 
                src="assests/images/irctc5.png" 
                alt="no img found"
                height="500px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="840px" 
             />
        </div>
         <% } %>   
<% include ./partials/footer.ejs %>