<% include ./partials/header.ejs %>
<div class="container" style="width:100%">
     <h1 class="display-4" style="color: #CEF0D4; font-family: 'courier', cursive; font-size: 60px; font-weight: normal; line-height: 48px;margin-top:10px; margin: 10 10 0px; text-align: left; text-shadow: 1px 1px 2px black;"><strong> Services Offered by Sidharth</strong></h1>
      <br>
      
      <table class="table table-bordered table-striped table-hover">
         <tr>
         <td>Web Development</td>
         <td><img 
                src="https://upload.wikimedia.org/wikipedia/commons/6/68/Trans-logo-sc-2.png" 
                alt="no img found"
                height="60px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="60px" 
             />
             </td>

         </tr>
          <td>API Development</td>
          <td>
          <img 
                src="https://upload.wikimedia.org/wikipedia/commons/6/68/Trans-logo-sc-2.png" 
                alt="no img found"
                height="60px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="60px" 
             />
             </td>  
         <tr>

         <td>General Programming</td>
         <td>
         <img 
                src="https://upload.wikimedia.org/wikipedia/commons/6/68/Trans-logo-sc-2.png" 
                alt="no img found"
                height="60px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="60px" 
             />
             </td>
         </tr>

         <tr>
         <td>Mobile Application</td>
         <td>
         <img 
                src="https://upload.wikimedia.org/wikipedia/commons/6/68/Trans-logo-sc-2.png" 
                alt="no img found"
                height="60px"
                style="border:5px solid black; margin-left:15%"
                ALIGN="center"
                width="60px" 
             />
             </td>
         </tr>
      </table>
      <% include ./partials/footer.ejs %>